{% extends 'base.html.twig' %}

{% block title %}Passager{% endblock %}

{% block body %}
    <h1>Passager</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ passager.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ passager.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ passager.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ passager.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ passager.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('passager_index') }}">back to list</a>

    <a href="{{ path('passager_edit', {'id': passager.id}) }}">edit</a>

    {{ include('passager/_delete_form.html.twig') }}
{% endblock %}
